body, html{

background-image: url(img/sky.jpg);
margin:0;
padding:0;

	}

.bunnies{
	bottom: -36px;
	position: fixed;
	background-color: ff0066;
	height: 200px;
	width: 100%;
}
.bunny1{
	text-align: center;
}



.grass{
	bottom: -20px;
	Left:-4px;
	position: fixed;
	width: 100%;
	height: 100px;
}



@media only screen 
and (min-device-width : 330px) 
 { 
	
	
	}